#navborder{
    border-radius: 8px;
    border: 2px solid black;
    text-align: justify;
    
}
.kozep{
    text-align: justify;
    text-align: center;
}
#Active{
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-decoration: none;
    font-size: x-large;
}
#Porsche{
    color: black;
}
.text.justify{
    text-align: justify;
}
.midle{
    text-align: center;
}
#Myh1{
    font-size: 2cm
}
.carsdiv{
    color: white;
}
#base{
    background-color: black;
}
.bg-black{
    background-color: black;
}
.Mycard{
    border-color: black;
}
#rounded{
    border-radius: 15px;
}
#mybrand{
  font-size: x-large;
  color: black;
  text-decoration: none;
}
#mybrandsm{
  font-size: large;
  color: black;
  text-decoration: none;
}
#Mymargin{
    margin: unset 0px;
}
.Mybutton{
    background-color: black;
    border-color: black;
    color: #ffff;
}
#mindenOff{
    border:  none;
    border-radius: 0px;
    box-shadow: none;
}
#Bigh1{
    font-size: 2cm;
}
.Mytr{
    border-bottom: 3px #ffff;
}
@media (max-width: 992px) {
    .hidden-sm {
      display: none;
    }
  }
@media (min-width: 992px) {
    .hidden-lg {
      display: none;
    }
  }

#Myh1{
    font-size: 2cm
  }
  

  @media (max-width: 1200px) {
    #Myh1 {
      font-size: 1.25cm; 
    }
  }
  @media (max-width: 768px) {
    #Myh1 {
      font-size: 0.75cm; 
    }
  }
  
  
  @media (max-width: 480px) {
    #Myh1 {
      font-size: 0.5cm; 
    }
  }
    
#Bigh1{
    font-size: 2cm
}

@media (max-width: 1200px) {
  #Bigh1 {
    font-size: 1.25cm; 
  }
}
@media (max-width: 768px) {
  #Bigh1 {
    font-size: 0.75cm; 
  }
}


@media (max-width: 480px) {
  #Bigh1 {
    font-size: 0.5cm; 
  }
}
    
#Myfs1{
    font-size: 1.25cm;
}
@media (max-width: 1200px) {
    #Myfs1 {
      font-size: 1cm; 
    }
  }
  @media (max-width: 768px) {
    #Myfs1 {
      font-size: 0.65cm; 
    }
  }
  
  
  @media (max-width: 480px) {
    #Myfs1 {
      font-size: 0.45cm; 
    }
  }

#Myfs5{
    font-size: 0.75cm;
}
@media (max-width: 1200px) {
    #Myfs5 {
      font-size: 0.5cm; 
    }
  }
  @media (max-width: 768px) {
    #Myfs5 {
      font-size: 0.40cm; 
    }
  }
  
  
  @media (max-width: 480px) {
    #Myfs5 {
      font-size: 0.25cm; 
    }
  }

/* 
style =  
--button-color:
--button-hover-color:
--button-color-after:
 */

/* ripple-button white  */
#riipple-button {
  transition: 0.5s ease-in-out;
  position: relative;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: var(--button-color);
  padding: 15px 30px;
  overflow: hidden;
  cursor: pointer;
}

#riipple-button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-out;
}

#riipple-button:hover:before {
  width: 400px;
  height: 400px;
  opacity: 0;
  transition: all 0.5s ease-out;
}

#riipple-button:hover {
  transform: scale(1.1);
  color: var(--button-color-after);
  background-color: var(--button-hover-color);
  transition: all 0.5s ease-out;
}

#text-bottom{
    top: unset;
}

.card-title{
    font-size: 500%;
    margin: 0;
    margin-bottom: 10px;
  }
#korvonal{
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  transition: all 0.5s ease-in;
  transition: all 0.2s ease-out;
}
#kepreirt{  
  transition: all 0.5s ease-in;
  transition: all 0.2s ease-out;
}
  #kepreirt:hover{
    transform: scale(101%);
  }
  #kepreirt:hover #korvonal{
    transform: scale(110%);
  }
#activate-div{
  display: none;
}
  #activate-div:checked ~ label #korvonal{
    transform: translateY(101%);
    color: black !important;
  }
#activate-div2{
  display: none;
  }
    #activate-div2:checked ~ label #korvonal{
      transform: translateY(101%);
      color: black !important;
    }
.card-body{
  text-align: center;
}
.card-text{
  font-size: 0.5cm;
  padding: 1.5%;
}
h1{
  font-size: 1.2cm;
  font-weight: bold;
}
a{
  text-decoration: none;
  color: black;
  transition: all 0.2s ease-in-out;
}
  a:hover{
    color: grey;
    transform: scale(105%);
  }
#leiras{
  text-align: center;
}
.more{
  margin-top: 2%;
}
#title{
  padding-top: 5%;
}
p{
  font-size: 0.7cm;
}